recursive-include doc *.html
recursive-include test *
recursive-include test/root *
recursive-include test/root/scripts *
recursive-include test/imgs *
recursive-include bin cacheBust
recursive-include cachebust *.py
include ChangeLog
include README.md
include README.rst
include LICENSE
include setup.py
include MANIFEST.in
